.avatar{
    display: inline-block;
    width: 250px;
    height: 250px;
    margin-right: 20px;
    border-radius: 15px;
    overflow: hidden;
}

.avatar img {
    width: 100%;
}

.description {
    display: inline-block;
    width: 75%;
    vertical-align: top;
}

.name {
    font-weight: 700;
    font-size: 48px;
}

.location, .skils {
    font-size: 28px;
}

span {
    font-weight: 700;
}
