body {
  background: #F0F0F0;
}

h2 {
  font-size: 36px;
  margin-top: 15px;
  margin-bottom: -2px;
  color: #481ef0;
}

textarea {
  min-width: 1000px;
  max-width: 1000px;
  min-height: 100px;
  max-height: 500px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: #FFFFFF;
  border-image: none;
  border-radius: 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-size: 20px;
  line-height: 25px;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}


textarea:focus {
    background: none repeat scroll 0 0 #ececec;
    outline-width: 0;
}

.button {
  background-color: #481ef0;
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding: 13px 40px;
  border: none;
  border-radius: 5px;
}

.button:hover,
.button:focus {
    background: #0053ba;
}

.button:focus {
    outline: 1px solid #0053ba;
}

.button:active {
    transform: scale(0.99);
}