.sidebar {
  grid-area: sidebar;
  background-color: #481ef0;
}

.link:nth-child(1) {
  margin-top: 30px;
}

.link {
  margin-top: 10px;
}

.link a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin: 25px;
}


.active {
  opacity: 0.4;
}

.frends {
  margin: 100px 10px;
  text-align: center;
  padding-left: 10px;
}

.frends h3 {
  text-align: left;
  color: #fff;
  padding-left: 10px;
}

.frend {
  display: inline-block;
  width: 60px;
  padding-right: 10px;
  vertical-align: top;
}

.avatar {
  overflow: hidden;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.avatar img {
  width: auto;
  height: 60px;
}

.frend p {
  font-weight: 800;
  color: #fff;
  margin-top: 5px;
}
