.appWrapper {
  display: grid;
  margin: 10px auto;
  width: 1400px;
  grid-template-areas:
  "header header"
  "sidebar content";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

}

.header {
  grid-area: header;
  background-color: #481ef0;
}

.header img {
  width: 550px;
  margin-top: -50px;
}

.sidebar {
  grid-area: sidebar;
  background-color: #481ef0;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
}

.content {
  grid-row: content;
}

.heroPhoto img{
  width: 100%;
}